/* Main container styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: 'Silkscreen', Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Particles.js container */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the particles are behind the text */
}

/* Scrollable Content */
.content {
    position: relative;
    z-index: 1;
    color: #7e00af;
    text-align: center;
    overflow-y: auto; /* Enable vertical scroll */
    height: 100vh; /* Full viewport height */
}

/* Spacer to center the typewriter effect */
.spacer {
    height: 40vh; /* Adjust this value to center the typewriter effect */
}

/* Text box styles */
.text-box {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
}

/* Typewriter text styling */
.typewriter {
    display: inline-block;
}

/* Cursor styling */
.cursor {
    display: inline-block;
    background-color: #7e00af;
    width: 2px;
    height: 1em;
    animation: blink-cursor 0.8s steps(2) infinite;
    vertical-align: bottom;
}

/* Cursor blinking animation */
@keyframes blink-cursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Additional content styling */
.additional-content {
    color: #7e00af; /* Match the color of the typewriter text */
    text-align: center;
    margin-top: 100vh; /* Add space to require scrolling */
    background-color: rgba(126, 0, 175, 0.1); /* Semi-transparent background */
    padding: 20px; /* Add padding inside the bubble */
    border-radius: 20px; /* Rounded corners */
    border: 3px solid #7e00af; /* Border matching the text color */
    display: inline-block; /* Ensure the bubble wraps around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

/* Scrollbar styling */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #32006b;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .text-box {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .text-box {
        font-size: 16px;
        padding: 15px;
    }
}
